@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css');

:root {
	--my-lightgray: #f1f1f1;
	--my-text: rgb(30, 30, 30);
}

body {
	font-family: 'Noto Sans KR';
	margin: 0;
	background: rgba(var(--vs-gray-2), 1);
	color: var(--my-text);
	cursor: default;
}

h1,
h2,
h3 {
	font-family: 'Jua';
	font-weight: normal;
}

.center {
	text-align: center;
}

.right {
	text-align: end;
}

.bottomRight {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 2rem;
}

.floatRight {
	float: right;
}

.container {
	background-color: white;
	border-radius: 1rem;
	padding: 1rem;
}

.vs-table table {
	min-width: 100px;
}

.vs-table__th,
.vs-table__td {
	font-size: 1rem;
}
